Tag: menu-command-not-in-package
Severity: warning
Check: menu-format
Explanation: The <code>menu</code> item specifies a command that is not shipped
 in the package.
 .
 The condition can be caused by a typo. Sometimes, an executable was moved
 without updating tha <code>menu</code> file.
